*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

:root{
    --default: #81838C;
    --primary: #3C50E0;
    --secondary: #6483F6;
    --footer: #07003B;
}
body{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: var(--default)
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid red;
}
.dFlex{
    display: flex;
}
.btnFlex{
    display: inline-flex;
}
a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.btn{
    border: 1px solid transparent;
    padding: 17px 36px;
    border-radius: 29px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px;
}
/* Common CSS End */
/* NAV Start */
#nav{
    width: 100%;
    background-color: #3C50E0;
    color: #fff;
    padding: 35px 0 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
#nav .dFlex{
    justify-content: space-between;
    align-items: center;
}
#nav .logo{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.menu{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 44px;
}
.menu ul{
    display: inline-flex;
    color: #fff;
    justify-content: flex-end;
    align-items: center;
    gap: 38px;
}
.menu .btn{
    font-weight: 700;
    border-color: #fff;
}
.menu .btn:hover{
    border-color: #0703f5;
    background-color: #0703f5;
}
/* NAV end */
/* Banner Start */
#banner{
    background-color: #3C50E0;
    color: #fff;
    padding: 200px 0 100px;
    position: relative;
}
.bannerWrapper{
    position: relative;
    z-index: 2;
}
.bannIll{
    width: 1370px;
    margin: 0 auto;
    height: 10px;
    position: relative;
}
.bannerIllustrationBig {
    position: absolute;
    bottom: -52px;
    right: -60px;
    z-index: 1;
}
.bannerIllustrationSmall{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
#banner .dFlex{
    justify-content: space-between;
}
#banner h1{
    width: 548px;
    font-size: 72px;
    line-height: 80px;
    margin-top: 50px;
}
#banner p{
    width: 414px;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);;
    margin: 24px 0 36px;
}
#banner .btnFlex{
    column-gap: 28px;
}
#banner .btn{
    border-color: rgb(255, 255, 255);
}
#banner .btn:hover{
    border-color: #FDB400;
    background-color: #FDB400;
}
#banner .btn.active{
    border-color: #FDB400;
    background-color: #FDB400;
    color: #0703f5;    
}
#banner .right img{
    margin-right: -50px;
}
/* Banner End */
/* Checker Start */
#checker{
    background-color: #fff;
    padding: 80px 0;
}
#checker .dFlex{
    justify-content: space-between;
}
#checker .item{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    column-gap: 25px;
}
#checker .item i{
    width: 60px;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    border: 1px solid var(--default);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#checker .item h2{
    line-height: 20px;
    font-weight: 700;
    color: #0D152E;
}
#checker .item p{
    width: 255px;
    line-height: 28px;
    margin-top: 27px;
    color: #242424;
}
/* Checker end */
/* Featured Lessons Stt */
#featured{
    width: 100%;
    padding-bottom: 80px;
    background-color: #EBF3FF;
    position: relative;
    border: 1px solid red;
}
.whiteBG{
    width: 100%;
    height: 220px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.featuredWrapper{
    position: relative;
    z-index: 2;
}
.featuredWrapper .dFlex{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
}
.featuredWrapper .dFlex h2{
    font-size: 34px;
    font-weight: 700;
    color: #0D152E;
    padding-left: 30px;
}
.arrows{
    padding-right: 30px;
}
.arrows i{
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #707070;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.arrows i:last-child{
    margin-left: 5px;
    color: #101C3D;
    border-color: #101C3D;
}
.cardWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
#featured .card{
    width: 350px;
    height: 418px;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#featured .card img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#featured .card .cardHead{
    padding-bottom: 25px;
}
#featured .card .cardBody .feaPar1{
    font-size: 14px;
    font-weight: 700;
    color: #0703f5;
    /* color: #416FF4; */
    letter-spacing: -0.46px;
}
#featured .card .cardBody .feaPar2{
    font-weight: 700;
    color: #0703f5;
    /* color: #2BD67B; */
}
#featured .card .cardBody .feaPar3{
    font-weight: 700;
    color: #0703f5;
    /* color: #F7B26D; */
}
#featured .card .cardBody h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.66px;
    color: #0D152E;
    margin: 10px 0 20px;
}
#featured .card .cardBody .dFlex{
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
}
#featured .card .cardBody .dFlex span i{
    margin-right: 10px;
}
#featured .card .cardBody .dFlex span span{
    color: #0703f5;
}
#featured .featBtnWrapper {
    text-align: center;
    margin-top: 70px;
}
#featured .featBtnWrapper .btn{
    color: #fff;
    background-color: var(--primary);
}
#featured .featBtnWrapper .btn:hover{
    background-color: var(--secondary);
}
/* Featured Lessons end */
/* Career Start */
#career{
    padding: 80px 0 160px;
    background-color: #fff;
}
#career .dFlex{
    justify-content: space-between;
}
#career .right h2{
    width: 572px;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    color: #0D152E;
    margin-bottom: 24px;
}
#career .right p{
    width: 482px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.66px;
    margin-bottom: 58px;
    color: #07003B;
    /* color: #81838C; */
}
#career .right ul li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 22px;
    margin-bottom: 31px;
}
#career .right ul li:last-child{
    margin-bottom: inherit;
}
#career .right ul li i{
    width: 60px;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    color: #0D152E;
    border: 1px solid #81838C;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.2);
}
#career .right ul li h3{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.66px;
    color: #0D152E;
}
#career .right ul li p{
    color: #07003B;
    margin-top: 21px;
    margin-bottom: inherit;
}
#career .right .btn{
    color: #fff;
    background-color: #3C50E0;
    margin-top: 55px;
}
/* Career end */
/* Featured Topic Start */
#topic{
    width: 100%;
    padding: 125px 0;
    margin-bottom: 80px;
    background-color: #1b197f;
    /* background-color: #6483F6; */
    position: relative;
}
.topicIllustration_1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.topicIllustration_2{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.topicIllustration_3{
    position: absolute;
    top: 100px;
    right: 11%;
    z-index: 1;
}
.topicIllustration_4{
    position: absolute;
    top: 0;
    right: 18%;
    z-index: 1;
}
.topicIllustration_5{
    position: absolute;
    bottom: 0;
    left: 18%;
    z-index: 1;
}
.topicIllustration_6{
    position: absolute;
    top: 333px;
    right: 19%;
    z-index: 1;
}
.topicIllustration_7{
    position: absolute;
    top: 185px;
    left: 11%;
    z-index: 1;
}
.topicIllustration_8{
    position: absolute;
    right: 42%;
    bottom: 0;
    z-index: 1;
}
.topicWrapper{
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
}
.topicWrapper h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}
.topicWrapper p{
    width: 596px;
    line-height: 32px;
    margin: 30px auto 32px;
}
#topic .btnFlex{
    column-gap: 28px;
}
#topic .btn{
    border-color: rgb(255, 255, 255);
}
#topic .btn:hover{
    border-color: #FDB400;
    background-color: #FDB400;
}
#topic .btn.active{
    border-color: #FDB400;
    background-color: #FDB400;
    color: #0703f5;    
}
/* Featured Topic end */
/* Categories Start */
#category{
    padding: 80px 0;
    background-color: #EBF3FF;
}
#category .subTitle{
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    color: #0639f7;
    /* color: #6483F6; */
    text-transform: uppercase;
}
#category .title{
    font-size: 56px;
    font-weight: bold;
    line-height: 64px;
    color: #07003B;
    margin: 18px 0 30px;
}
#category .dFlex{
    justify-content: space-between;
    align-items: center;
}
.catPara{
    width: 570px;
    line-height: 32px;
    color: #07003B;
}
.searchArea{
    padding: 15px 24px;
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    outline: auto;
}
.searchWrapper i{
    width: 70px;
    height: 45px;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
    background-color: #1b197f;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 1px;
}
.catCardWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    column-gap: 2%;
    margin-top: 44px;
}
.catCard{
    width: 32%;
    height: 624px;
    background-color: #fff;
    border: 1px solid red;
}
.catCard .catCardHead{
    position: relative;
}
.catCard .catCardHead i{
    width: 48px;
    height: 48px;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #0639f7;
    background-color: #fff;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.catCard .catCardBody{
    padding: 17px 32px 32px 32px;
}
.catCard .catCardBody h2{
    font-size: 24xp;
    font-weight: 700;
    line-height: 32px;
    color: #0D152E;
    margin-bottom: 35px;
}
.catCard .catCardBody ul{
    color: #0D152E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 72px;
    border-bottom: 1px solid #81838C;
}
.catCard .catCardBody ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 13px;
}
.catCard .catCardBody ul li:first-child i{
    color: #6483F6;
}
.catCard .catCardBody ul li:last-child i{
    color: #F07867;
}
/* Categories end */